# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @williamfalcon @borda @tchaton @SeanNaren @carmocca @awaelchli @justusschock @kaushikb11 @rohitgr7

# CI/CD and configs
/.github/       @borda @tchaton @carmocca
/dockers/       @borda @tchaton @carmocca
*.yml           @borda @tchaton @carmocca

# Docs
/docs/                      @edenlightning @tchaton @borda @awaelchli
/.github/*.md               @edenlightning @williamfalcon @borda
/.github/ISSUE_TEMPLATE/    @edenlightning @borda @tchaton
/docs/source/conf.py        @borda @awaelchli @carmocca

# Packages
/pi_ml/accelerators         @williamfalcon @tchaton @SeanNaren @awaelchli @justusschock @kaushikb11
/pi_ml/callbacks            @williamfalcon @tchaton @carmocca @borda @kaushikb11
/pi_ml/core                 @tchaton @SeanNaren @borda @carmocca @justusschock @kaushikb11
/pi_ml/distributed          @williamfalcon @tchaton @awaelchli @kaushikb11
/pi_ml/lite                 @tchaton @awaelchli @carmocca
/pi_ml/loggers              @tchaton @awaelchli @borda
/pi_ml/loggers/wandb.py     @borisdayma
/pi_ml/loggers/neptune.py   @shnela @HubertJaworski @pkasprzyk @pitercl @Raalsky @aniezurawski @kamil-kaczmarek
/pi_ml/loops                @tchaton @awaelchli @justusschock @carmocca
/pi_ml/overrides            @tchaton @SeanNaren @borda
/pi_ml/plugins              @tchaton @SeanNaren @awaelchli @justusschock
/pi_ml/profiler             @williamfalcon @tchaton @borda @carmocca
/pi_ml/profiler/pytorch.py  @nbcsm @guotuofeng
/pi_ml/strategies           @tchaton @SeanNaren @awaelchli @justusschock @kaushikb11
/pi_ml/trainer              @williamfalcon @borda @tchaton @SeanNaren @carmocca @awaelchli @justusschock @kaushikb11
/pi_ml/trainer/connectors   @tchaton @SeanNaren @carmocca @borda
/pi_ml/tuner                @SkafteNicki @borda @awaelchli
/pi_ml/utilities            @borda @tchaton @SeanNaren @carmocca

# Specifics
/pi_ml/trainer/connectors/logger_connector @tchaton @carmocca
/pi_ml/trainer/progress.py  @tchaton @awaelchli @carmocca

# API
/pi_ml/callbacks/base.py    @williamfalcon @awaelchli @ananthsub @carmocca
/pi_ml/core/datamodule.py   @williamFalcon @awaelchli @ananthsub @carmocca
/pi_ml/trainer/trainer.py   @williamfalcon @tchaton @awaelchli
/pi_ml/core/hooks.py        @williamfalcon @tchaton @awaelchli @ananthsub @carmocca
/pi_ml/core/lightning.py    @williamfalcon @tchaton @awaelchli

# Testing
/tests/helpers/boring_model.py          @williamfalcon @tchaton @borda

/.github/CODEOWNERS              @williamfalcon
/SECURITY.md                     @williamfalcon
/README.md                       @williamfalcon @edenlightning @borda
/setup.py                        @williamfalcon @borda
/pi_ml/__about__.py  @williamfalcon @borda
